<div class ="row">
        <div class="col-sm-2 links">
            <a routerLink = "/clients" routerLinkActive = "active"><i class="fa fa-camera-retro fa-5x"></i>
                <br>
                All Clients</a>
        </div>
        <div class="col-sm-2 links">
                <i class="fa fa-camera-retro fa-5x"></i>
                <br>
        All Staffs
        </div>

        <div class="col-sm-2 links">
                <i class="fa fa-camera-retro fa-5x"></i>
                <br>
                All Staff
        </div>

        <div class="col-sm-2 links">
                <i class="fa fa-camera-retro fa-5x"></i>
                <br>
                All Staffs
        </div>
        <div class="col-sm-2 links">
                <i class="fa fa-camera-retro fa-5x"></i>
                <br>
                 All Staffs
        </div>
        <div class="col-sm-2 links">
                <i class="fa fa-camera-retro fa-5x"></i>
                <br>
                All Staffs
        </div>
</div>