
  {{clientName}}'s Detail: <a routerLink = "/clients"><span style="padding-left: 1100px"><i class="fa fa-times-circle"></i></span></a>
  <hr>
<div class="row no-gutters">
      <div class="col-7">
        <div class="c2c-card fc-card-height mr-3">
          <div class="row no-gutters fc-data-row">
            <div class="col-2">
              <span class="c2c-data-item-label">Client Name</span>
            </div>
            <div class="col-10">
              <span class="c2c-data-item-value">Shashank Rana</span>
            </div>
          </div>
          <div class="row no-gutters fc-data-row">
            <div class="col-2">
              <span class="c2c-data-item-label">Trainer Name</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-value">SSR</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-label">GYM Code</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-value">S41b19</span>
            </div>
          </div>
          <div class="row no-gutters fc-data-row">
            <div class="col-2">
              <span class="c2c-data-item-label">Start Date</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-value">12-Mar-2018</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-label">Membership Type</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-value">Permanent</span>
            </div>
          </div>
          <div class="row no-gutters fc-data-row">
            <div class="col-2">
              <span class="c2c-data-item-label">Due Date</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-value">25-Mar-2019</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-label">Diet Date</span>
            </div>
            <div class="col-3">
              <span class="c2c-data-item-value">25-Mar-2019</span>
            </div>
          </div>
          <div class="row no-gutters fc-data-row">
            <div class="col-2">
              <span class="c2c-data-item-label">Production Co</span>
            </div>
            <div class="col-10">
              <ul class="fc-list">                
                  <span class="c2c-data-item-value">Jhakkas</span>                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="c2c-card fc-card-height">
          <div class="c2c-slider carousel slide" data-ride="carousel">
            <div class="row no-gutters c2c-slider-row">
              <div class="col-3">
                <span class="c2c-card-header">Notes</span>
              </div>
              <div class="col-3">
                <ol class="c2c-slider-indicators carousel-indicators">
                  <li data-target=".c2c-slider" data-slide-to="0" class="active"></li>
                  <li data-target=".c2c-slider" data-slide-to="1"></li>
                  <li data-target=".c2c-slider" data-slide-to="2"></li>
                </ol>
              </div>
              <div class="col-3 c2c-slider-buttons">
                
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-12 c2c-slider-data">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    Wow Awesome Nice
                  </div>
                  <div class="carousel-item">
                    Second Slide Goes here
                  </div>
                  <div class="carousel-item">
                    Third Slide Goes here
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters fc-fit-height">
      <div class="col-12">
        <div class="c2c-card mt-3">
          <ul class="c2c-tab-list">
            <li *ngFor="let tab of tabs" class="c2c-tab-item" id="pd-tab-{{tab.route}}"><a id="pd-a-{{tab.route}}" class="c2c-tab-title" routerLink="{{tab.route}}" routerLinkActive="gym-tab-active">{{tab.label}}</a></li>
          </ul>
          <div class="fc-tab-content-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
