<!DOCTYPE html>
<html>
<body>
    <div class="sidenav">
     <form>
        <input class= "input" type="search" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <a routerLink = "/home" routerLinkActive = "active"><i class="fa fa-fw fa-home"></i>Home</a>
      <a routerLink = "/about" routerLinkActive = "active"><i class="fa fa-address-card"></i>About Us</a>
      <a href="#clients"><i class="fa fa-fw fa-user"></i>Clients</a>
      <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
    </div>
</body>
</html>